pkgbase = aur-easy
	pkgdesc = Simple and minimal AUR helper
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/user14923929/aur-easy
	arch = any
	license = MIT
	depends = git
	depends = base-devel
	source = aur-easy
	sha256sums = SKIP

pkgname = aur-easy
